@use "./variables" as *;
@media screen and (min-width: 768px) {
  body {
    nav {
      a {
        margin: 5% 0;
        padding: 0.5em 0.6em;
        min-width: 16.2rem;
        border-radius: 50px;
        font-size: 3rem;
      }
    }
    main {
      &.welcome_page {
        section.welcome_page_heading {
          padding: 2% 0 5% 0;
          h1 {
            font-size: 4.5rem;
            margin: 2% 0;
            width: 95%;
          }
          p {
            font-size: 3.2rem;
            width: 85%;
          }
        }
        section.welcome_page_container {
          a {
            font-size: 2.8rem;
          }
          p {
            font-size: 1.8rem;
          }
          div.welcome_page_item {
            width: 85%;
            gap: 1.2em;
            margin-bottom: 2%;
          }
        }
      }
      &.media_page {
        h2 {
          width: 90%;
          font-size: 2.6rem;
        }
        section.media_page_music,
        section.media_page_games,
        section.media_page_manga {
          width: 95%;
          gap: 1rem;
          h3 {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 3.2rem;
            margin: 6% 0 4% 0;
          }
          div.content_card {
            width: 100%;
            min-height: 400px;
            img {
              margin: 2.5% 0 2.5% 2.5%;
              min-width: 50%;
            }
            div.content_card_text {
              gap: 5%;
              width: 45%;
              margin: 2.5%;
              h4 {
                font-size: 3rem;
              }
              p {
                font-size: 2rem;
              }
            }
          }
        }
      }
      &.about_page {
        section.personal_info {
          margin: clamp(10%, 5vh, 30%) 0 clamp(10%, 5vh, 30%);
          div.personal_photo {
            width: clamp(300px, 45vw, 600px);
            height: clamp(300px, 45vw, 600px);
            margin: clamp(20px, 3%, 30vh) 0 clamp(80px, 20%, 40vh) 0;
          }
          div.personal_text {
            width: clamp(200px, 60vw, 70%);
            margin: 0 0 15svh 0;
            p {
              padding: 1em 1.5em;
              font-size: 2.2rem;
            }
          }
        }
      }
      &.page_not_found {
        height: 90svh;
      }

      div.rick_roll {
        img {
          width: 85svh;
        }
      }
    }
    footer {
      margin: 5svh 0 0 0;
      padding: 0 0 2svh 0;
      background-color: white;
      h3 {
        font-size: 2.5rem;
        padding: 1.5em 5vw;
        text-align: center;
      }
      ul {
        gap: 5.5rem;
        li {
          a {
            height: 60px;
            width: 60px;
            // outline: 1px solid rgb(0, 47, 255);
            font-size: 5rem;
            border-radius: 45px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    nav {
      a {
        margin: 3% 0;
        padding: 0.5em 0.6em;
        min-width: 33rem;
        border-radius: 100px;
        font-size: 6rem;
      }
    }
    main {
      &.welcome_page {
        section.welcome_page_heading {
          padding: 0 0 6% 0;
          h1 {
            font-size: 5.5rem;
            margin: 2% 0;
            width: 95%;
          }
          p {
            font-size: 4.2rem;
            width: 85%;
          }
        }
        section.welcome_page_container {
          a {
            font-size: 3.8rem;
          }
          p {
            font-size: 2.8rem;
          }
          div.welcome_page_item {
            width: 85%;
            gap: 1.8em;
            margin-bottom: 2%;
          }
        }
      }
      &.media_page {
        h2 {
          width: 90%;
          font-size: 3.6rem;
        }
        section.media_page_music,
        section.media_page_games,
        section.media_page_manga {
          width: 95%;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem;
          h3 {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 5.2rem;
            margin: 6% 0 4% 0;
          }
          div.content_card {
            width: 40%;
            min-height: 800px;
            min-width: 600px;
            img {
              margin: 2.5% 0 2.5% 2.5%;
              min-width: 50%;
            }
            div.content_card_text {
              gap: 5%;
              width: 45%;
              margin: 2.5%;
              h4 {
                font-size: 4rem;
              }
              p {
                font-size: 3rem;
              }
            }
          }
        }
      }
      &.about_page {
        section.personal_info {
          margin: clamp(10%, 5vh, 30%) 0 clamp(10%, 5vh, 30%);
          div.personal_photo {
            width: clamp(350px, 40vw, 800px);
            height: clamp(350px, 40vw, 800px);
            margin: 0 0 clamp(80px, 10%, 40vh) 0;
          }
          div.personal_text {
            width: clamp(200px, 60vw, 70%);
            margin: 0 0 15svh 0;
            p {
              padding: 1em 1.5em;
              font-size: 3.2rem;
            }
          }
        }
      }
      &.page_not_found {
        height: 90svh;
      }

      div.rick_roll {
        img {
          width: 85svh;
        }
      }
    }
    footer {
      margin: 5svh 0 0 0;
      padding: 0 0 2svh 0;
      background-color: white;
      h3 {
        padding: 1.5em 5vw;
        text-align: center;
      }
      ul {
        gap: 10.5rem;
        li {
          a {
            height: 60px;
            width: 60px;
            // outline: 1px solid rgb(0, 47, 255);
            font-size: 5.5rem;
            border-radius: 45px;
          }
        }
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-13 17:40:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-diagonal-2
 * ----------------------------------------
 */
@-webkit-keyframes jello-diagonal-2 {
  0% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(-25deg -25deg);
    transform: skew(-25deg -25deg);
  }
  40% {
    -webkit-transform: skew(15deg, 15deg);
    transform: skew(15deg, 15deg);
  }
  50% {
    -webkit-transform: skew(-15deg, -15deg);
    transform: skew(-15deg, -15deg);
  }
  65% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(5deg, 5deg);
  }
  75% {
    -webkit-transform: skew(-5deg, -5deg);
    transform: skew(-5deg, -5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
}
@keyframes jello-diagonal-2 {
  0% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(-25deg -25deg);
    transform: skew(-25deg -25deg);
  }
  40% {
    -webkit-transform: skew(15deg, 15deg);
    transform: skew(15deg, 15deg);
  }
  50% {
    -webkit-transform: skew(-15deg, -15deg);
    transform: skew(-15deg, -15deg);
  }
  65% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(5deg, 5deg);
  }
  75% {
    -webkit-transform: skew(-5deg, -5deg);
    transform: skew(-5deg, -5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
    transform: skew(0deg 0deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-13 17:43:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes wobble-ver-left {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-ver-left {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-13 17:55:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-13 17:56:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}
