$main_font: "Oxygen", sans-serif;
$secondary_font: "Fira Mono", monospace;
$heading_font: "Lilita One", cursive;
$font_awesome: "FontAwesome 6";

$heading_color: hsla(0, 0%, 0%, 0.8);
$heading_color_darker: hsla(0, 0%, 0%, 1);
$card_bg_color: hsla(0, 0%, 100%, 0.5);
$link_color: hsl(194, 100%, 50%);
$link_icon_color: hsl(194, 100%, 80%);
