@use "./reset" as *;
@use "./variables" as *;

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(31, 85, 255, 1) 0%,
    rgba(34, 193, 195, 0.4342105263157895) 100%
  );
  background-repeat: no-repeat;
  font-family: $main_font;
  a {
    text-decoration: none;
    font-family: $secondary_font;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    a {
      margin: 5% 0;
      padding: 0.5em 0.6em;
      min-width: 9rem;
      text-align: center;
      background-color: white;
      border-radius: 25px;
      font-size: 1.6rem;
      font-weight: bold;
      color: rgb(0, 195, 255);
    }
  }
  main {
    display: flex;
    &.welcome_page {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      section.welcome_page_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2% 0 5% 0;
        text-align: center;
        h1 {
          display: block;
          font-size: 2.5rem;
          color: $heading_color;
          font-family: $heading_font;
          margin: 2% 0;
          width: 95%;
        }
        p {
          display: block;
          font-weight: bold;
          font-size: 1.2rem;
          width: 85%;
        }
      }
      section.welcome_page_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        a {
          font-weight: bold;
          font-size: 1.2rem;
        }
        img {
          outline: 1px solid white;
          object-fit: cover;
          width: 100%;
          height: auto;
        }
        div.welcome_page_item {
          width: 85%;
        }
      }
    }
    &.media_page {
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
        width: 90%;
      }
      section.media_page_music,
      section.media_page_games,
      section.media_page_manga {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        color: rgb(0, 0, 0);
        h3 {
          font-family: $heading_font;
          font-size: 1.6rem;
          margin: 6% 0 0 0;
          // outline: 2px solid red;
        }
        div.content_card {
          flex-grow: 1;
          width: 90%;
          display: flex;
          background-color: $card_bg_color;
          img {
            margin: 2.5% 0 2.5% 2.5%;
            object-fit: cover;
            width: 50%;
          }
          div.content_card_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5%;
            width: 50%;
            margin: 2.5%;
            h4 {
              font-size: 1.4rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    inset: auto 0 0 0;
  }
}
