@use "./reset" as *;
@use "./variables" as *;
body {
  width: 100%;
  background-color: white;
  background: linear-gradient(
    0deg,
    rgba(31, 85, 255, 1) 0%,
    rgba(156, 253, 255, 0.434) 100%
  );
  background-repeat: no-repeat;
  font-family: $main_font;
  a {
    text-decoration: none;
    font-family: $secondary_font;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
    a {
      padding: 0.5em 0.6em;
      min-width: 9rem;
      text-align: center;
      background-color: white;
      border-radius: 25px;
      font-size: 1.6rem;
      font-weight: bold;
      color: $link_color;

      &:nth-of-type(1):hover {
        -webkit-animation: wobble-ver-right 0.8s both;
        animation: wobble-ver-right 0.8s both;
      }

      &:nth-of-type(2):hover {
        -webkit-animation: wobble-hor-top 0.8s both;
        animation: wobble-hor-top 0.8s both;
      }
      &:nth-of-type(3):hover {
        -webkit-animation: wobble-ver-left 0.8s both;
        animation: wobble-ver-left 0.8s both;
      }
    }
  }
  main {
    display: flex;
    &.welcome_page {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      section.welcome_page_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2% 0 2% 0;
        text-align: center;
        h1 {
          display: block;
          font-size: 2.9rem;
          color: $heading_color;
          font-family: $heading_font;
          margin: 2% 0;
          width: 95%;
        }
        p {
          display: block;
          font-weight: bold;
          font-size: 1.4rem;
          width: 85%;
        }
      }
      section.welcome_page_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        a {
          font-weight: bold;
          font-size: 1.4rem;
        }
        img {
          outline: 1px solid white;
          object-fit: cover;
          width: 100%;
          height: auto;
        }
        div.welcome_page_item {
          display: flex;
          flex-direction: column;
          gap: 0.6em;
          width: 85%;
          margin-bottom: 2%;
        }
      }
    }
    &.media_page {
      flex-direction: column;
      align-items: center;
      h2 {
        text-align: center;
        width: 90%;
      }
      section.media_page_music,
      section.media_page_games,
      section.media_page_manga {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        color: rgb(0, 0, 0);
        h3 {
          font-family: $heading_font;
          font-size: 1.6rem;
          margin: 6% 0 0 0;
          // outline: 2px solid red;
        }
        div.content_card {
          flex-grow: 1;
          width: 100%;
          min-height: 300px;
          display: flex;
          background-color: $card_bg_color;
          img {
            margin: 2.5% 0 2.5% 2.5%;
            object-fit: cover;
            width: 50%;
          }
          div.content_card_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3%;
            width: 45%;
            margin: 2.5%;
            h4 {
              font-size: 1.4rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    &.about_page {
      section.personal_info {
        width: 100%;
        margin: clamp(10%, 5vh, 30%) 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        div.personal_photo {
          display: flex;
          width: clamp(150px, 45vw, 800px);
          height: clamp(150px, 45vw, 800px);
          outline: 2px solid rgb(255, 255, 255);
          transform: rotate(-75deg);
          overflow: hidden;
          margin: clamp(20px, 8%, 30vh) 0 clamp(80px, 20%, 40vh) 0;
          img {
            transform: rotate(75deg) scale(1.5);
          }
        }
        div.personal_text {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          width: clamp(200px, 50vw, 70%);
          margin: 0 0 15svh 0;
          p {
            text-align: center;
            border-radius: 15px;
            background-color: white;
            padding: 1em 1.5em;
            font-family: $secondary_font;
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
      }
    }
    &.page_not_found {
      height: 90svh;
    }
    display: flex;
    justify-content: center;
    div.rick_roll {
      img {
        width: 100%;
      }
    }
  }
  footer {
    margin: 5svh 0 0 0;
    padding: 0 0 2svh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    inset: auto 0 0 0;
    flex-direction: column;
    h3 {
      color: $link_color;
      padding: 1.5em 5vw;
      text-align: center;
      text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1),
        -1px 1px 1px hsla(0, 0%, 0%, 0.1), -1px -1px 1px hsla(0, 0%, 0%, 0.1),
        1px -1px 1px hsla(0, 0%, 0%, 0.1);
    }
    ul {
      display: flex;
      justify-content: center;
      gap: 3.5rem;
      li {
        list-style: none;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          width: 60px;
          // outline: 1px solid red;
          color: $link_icon_color;
          font-size: 4.5rem;
          border-radius: 45px;
          &:hover {
            -webkit-animation: jello-diagonal-2 0.8s both;
            animation: jello-diagonal-2 0.8s both;
          }
        }
      }
    }
  }
}
